:root {
  --color-black: #06080e;
  --color-white: #f3f7f4;
  --color-primary: #007991;
  --color-secondary: #9cd3c6;
  --color-accent: #dfc853;

  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Manrope Variable', system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* debug */

  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea,
button,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  color: #000;
  background: #fff;

  th,
  td {
    padding: 8px;
    border: 1px solid black;
  }

  th {
    background: lightgray;
  }
}
